[submodule "elisp/lua-mode"]
	path = elisp/lua-mode
	url = git://github.com/immerrr/lua-mode.git
    ignore = untracked
[submodule "elisp/coffee-mode"]
	path = elisp/coffee-mode
	url = git://github.com/sandinmyjoints/coffee-mode.git
    ignore = untracked
[submodule "elisp/js2-mode"]
	path = elisp/js2-mode
	url = git://github.com/mooz/js2-mode.git
    ignore = untracked
[submodule "elisp/dirtree"]
	path = elisp/dirtree
	url = git://github.com/zkim/emacs-dirtree.git
    ignore = untracked
[submodule "elisp/handlebars-mode"]
	path = elisp/handlebars-mode
	url = git://github.com/danielevans/handlebars-mode.git
    ignore = untracked
[submodule "elisp/jade-mode"]
	path = elisp/jade-mode
	url = git://github.com/brianc/jade-mode.git
    ignore = untracked
[submodule "elisp/idomenu"]
	path = elisp/idomenu
	url = git://github.com/emacsmirror/idomenu.git
    ignore = untracked
[submodule "elisp/json"]
	path = elisp/json
	url = git://github.com/thorstadt/json.el.git
    ignore = untracked
[submodule "elisp/json-pretty-print"]
	path = elisp/json-pretty-print
	url = git://github.com/thorstadt/json-pretty-print.el.git
    ignore = untracked
[submodule "elisp/less-css-mode"]
	path = elisp/less-css-mode
	url = git://github.com/purcell/less-css-mode.git
    ignore = untracked
[submodule "elisp/log4j-mode"]
	path = elisp/log4j-mode
	url = https://github.com/emacsmirror/log4j-mode.git
    ignore = untracked
[submodule "elisp/markdown-mode"]
	path = elisp/markdown-mode
	url = git://github.com/defunkt/markdown-mode.git
    ignore = untracked
[submodule "elisp/smart-tab"]
	path = elisp/smart-tab
	url = git://github.com/genehack/smart-tab.git
    ignore = untracked
[submodule "elisp/magithub"]
	path = elisp/magithub
	url = git://github.com/nex3/magithub.git
    ignore = untracked
[submodule "elisp/magit"]
	path = elisp/magit
	url = git://github.com/magit/magit.git
    ignore = untracked
[submodule "elisp/octomacs"]
	path = elisp/octomacs
	url = git@github.com:sandinmyjoints/octomacs.git
    ignore = untracked
[submodule "elisp/yasnippet-coffee-script-snippets"]
	path = elisp/yasnippet-coffee-script-snippets
	url = https://github.com/jarrelcobb/yasnippet-coffee-script-snippets
    ignore = untracked
[submodule "elisp/emacs-kv"]
	path = elisp/emacs-kv
	url = git@github.com:nicferrier/emacs-kv.git
