auto-save-list/
backups/
.org-id-locations
org-clock-save.el
*~
.places
session.*
tramp
elpa
emms
*.elc
.DS_Store
.yas-compiled-snippets.el
url/cookies
saved-places
custom.el
/.achievements
/var/
/bookmarks
projectile-bookmarks.eld
projectile.cache
image-dired/
eln-cache/
package-quickstart.el
request/
forge-database.sqlite
.cache/
chatgpt/
dall-e/
/.lsp-session-v1
/amx-items
/elpy/
/network-security.data
/setup-lisp/.emacs.desktop
/transient/
/tree-sitter/
