auto-save-list/
backups/
.org-id-locations
org-clock-save.el
*~
.places
session.*
tramp
elpa
emms
*.elc
.DS_Store
.yas-compiled-snippets.el
url/cookies
saved-places
custom.el
/.achievements
/var/
/bookmarks
projectile-bookmarks.eld
image-dired/