auto-save-list/
backups/
elisp/
!elisp/smart-tab/
!elisp/lua-mode/
!elisp/coffee-mode/
!elisp/expand-region/
!elisp/multiple-cursors/
!elisp/smart-forward/
!elisp/fill-column-indicator/
!elisp/dirtree/
!elisp/handlebars-mode/
!elisp/jade-mode/
!elisp/idomenu/
!elisp/json/
!elisp/json-pretty-print/
!elisp/less-css-mode/
!elisp/log4j-mode/
!elisp/markdown-mode/
.org-id-locations
org-clock-save.el
.mc-lists.el
*~
.places
session.*
tramp
elpa
emms
*.elc
.DS_Store
.yas-compiled-snippets.el
url/cookies